{% extends 'client/base.html.twig' %}

{% block title %}
<title>Nouveau commentaire</title>
{% endblock %}



{% block body %}
<div style="margin-left: 300px; margin-top:20px; margin-right:200px; padding:50px;">
    <h1>Ajouter votre commentaire</h1>

    {{ include('client_commentaire/_form.html.twig') }}

    {# <a href="{{ path('app_client_commentaire_index') }}">back to list</a> #}
</div>
{% endblock %}
